<div class="feature-row">
  <div class="row-inner">
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
    <div class="small-feature-img"><img src="//lh3.googleusercontent.com/RBhiQ-umiYGABEj_ZNbjk4d_N2sLmtJqcivVgynhobr3RwzPOkPmV-TLyvHVW7jKlbU=w300-rw" alt="Cover art" aria-hidden="true" itemprop="image" /></div>
  </div>
</div>